<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="layout/main.html">
<body>
<div layout:fragment="mainContainer">
<form th:action="@{'/updatepassword'}" method="post">
    <div>
        <label>
            OLD PASSWORD
        </label>
        <input type="password" name="old_pasword" required>
    </div>
    <div>
        <label>
            NEW PASSWORD
        </label>
        <input type="password" name="new_password" required>
    </div>
    <div>
        <label>
            RETYPE NEW PASSWORD
        </label>
        <input type="password" name="retype_new_password" required>
    </div>
    <div>
        <button>UPDATE PASSWORD</button>
    </div>
</form>
</div>
</body>
</html>